/*
    __    ___________   _   ______________
   / /   / ____/ ___/  / | / / ____/_  __/
  / /   / /_   \__ \  /  |/ / __/   / /
 / /___/ __/  ___/ / / /|  / /___  / /
/_____/_/    /____(_)_/ |_/_____/ /_/
 https://LFrigoDeSouza.NET
 https://github.com/lfrigodesouza/Dotfiles
 
 Configuration file for rofi
*/

configuration {
    modi: "window,drun,ssh,combi,run";
    font: "FiraCode Nerd Font 13";
    combi-modi: "window,drun,file-browser";
}

@theme "~/.config/rofi/themes/dracula.rasi"
